body {
    background-image: url(img/background.png);
    background-size: cover;
    font-family: "Roboto", sans-serif;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.70);
    border-radius: 5px;
    min-width: 360px;
    max-width: 1200px;
    min-height: 100px;
    padding: 100px;
    margin: 0 auto;
    margin-top: 30px;
    color: azure;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 20px;
    padding: 10px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
    text-align: center;
}

.trio {
    border-style: solid;
    border: 10px solid;
}

.credits {
    color: beige;
    background-color: rgb(29, 29, 29);
    border-style:groove;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
}

.index {
    text-align: center;
    padding-bottom: 20px;
    margin: 10px;
}

.odin {
    width: 150px;
}

.yuk {
    border-style: solid;
    border: 10px solid;
}

.citatap {
    border-style: solid;
    border: 10px solid;
}

.kombu {
    border-style: solid;
    border: 10px solid;
}

a {
    color: rgb(255, 255, 255);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

h1 {
    text-shadow: 0 0 15px #ffad29;
}

h3 {
    text-shadow: 0 0 15px #ffad29;
}
